boto3==1.17.39
awscli==1.19.33
aws_cdk.aws_ecs==1.94.1
aws_cdk.aws_rds==1.94.1
aws_cdk.aws_efs==1.94.1
aws_cdk.aws_certificatemanager==1.94.1
aws_cdk.aws_s3==1.95.1
aws_cdk.aws_s3_assets==1.94.1
aws_cdk.aws_s3_deployment==1.94.1
aws_cdk.aws_s3_notifications==1.94.1
aws_cdk.aws_s3_deployment==1.94.1
aws_cdk.aws_cloudfront==1.94.1
aws_cdk.aws_route53==1.94.1
aws_cdk.aws_route53_targets==1.94.1
aws_cdk.aws_lambda_event_sources==1.94.1
aws_cdk.aws_lambda_python==1.94.1
aws_cdk.aws_kms==1.94.1
aws_cdk.aws_apigateway==1.94.1
aws_cdk.aws_apigatewayv2==1.94.1
aws_cdk.aws_apigatewayv2_integrations==1.94.1
