boto3==1.17.75
awscli==1.19.75
aws_cdk.aws_ecs==1.104.0
aws_cdk.aws_rds==1.104.0
aws_cdk.aws_efs==1.104.0
aws_cdk.aws_certificatemanager==1.104.0
aws_cdk.aws_s3==1.104.0
aws_cdk.aws_s3_assets==1.104.0
aws_cdk.aws_s3_deployment==1.104.0
aws_cdk.aws_s3_notifications==1.104.0
aws_cdk.aws_s3_deployment==1.104.0
aws_cdk.aws_cloudfront==1.105.0
aws_cdk.aws_route53==1.104.0
aws_cdk.aws_route53_targets==1.104.0
aws_cdk.aws_lambda_event_sources==1.104.0
aws_cdk.aws_lambda_python==1.104.0
aws_cdk.aws_kms==1.104.0
aws_cdk.aws_apigateway==1.104.0
aws_cdk.aws_apigatewayv2==1.104.0
aws_cdk.aws_apigatewayv2_integrations==1.104.0
